

<div class="container1">
    <h1>{{title}}</h1>
    <div class="container">
       <form>
            <input type="number" [(ngModel)]= "numero1" name= "numero1" class="btn btn-outline-success"><br/><br/>

            <input type="number" [(ngModel)]= "numero2" name= "numero2" class="btn btn-outline-success" ><br/><br/>

           <input type="submit" value="+" (click)="sumar()" class="btn btn-success">
      
           <input type="submit" value="-" (click)="restar()" class="btn btn-success">
           <input type="submit" value="x" (click)="multiplicar()" class="btn btn-success">
           <input type="submit" value="%" (click)="dividir()" class="btn btn-success">

        </form>
   </div>
    <br/>
     <div class="resultado">
       {{resultado}}
    </div>
</div>